.chat {
  width: 60%;
  height: 70%;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
}

.chat__left {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(8, 8, 8, 0.622);
  border-radius: 1rem 0 0 1rem;
  border: none;
}

.chat__right {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(42, 42, 42, 0.622);
  border-radius: 0 1rem 1rem 0;
  border: none;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-height: 20rem;
  min-height: 50rem;
}

.chat__top {
  display: flex;
  flex: 10%;
}

.chat__top-h3 {
  margin-left: 1rem;
}

.chat__top-h4 {
  color: rgb(149, 149, 149);
}

.chat__hr {
  width: 100%;
  color: rgba(168, 168, 168, 0.2);
  margin-top: 1rem;
}

.users {
  display: flex;
  flex-direction: column;
}

.users__info {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.users__info-left {
  display: flex;
  align-items: center;
}

.users__card {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.users__card-left {
  display: flex;
  align-items: center;
}

.users__card-heading {
  margin-left: 1rem;
}

.users__info-heading {
  margin-left: 1rem;
}

.icons {
  font-size: 2.5rem;
  cursor: pointer;
}

.user-avatar {
  border-radius: 50%;
}

.online-icon {
  width: 0.6rem;
  height: auto;
}

@media screen and (max-width: 768px) {
  .chat__left {
    display: none;
  }

  .chat__right {
    border-radius: 1rem;
  }

  .chat {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
}
